video,canvas{
    height: 600px;
    width: 600px;
    border: solid 1px transparent;
}
main{
    display: flex;
    gap: 50px;
    padding: 20px;
}
article,aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

a{
    text-decoration: none;
    color: rgba(253, 253, 253, 0.932);
    background-color: rgb(79, 155, 29);
    padding: 10px;
    border-radius: 5px;
    transition: all .5s linear;
}
a:hover{
    background-color:rgb(115, 198, 59);
}
